@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   
    font-family: serif;
}
body{
    background-image: url('b1.png');
   
}
a{
    color: rgb(177, 40, 40);
    font-size: 8rem;
    text-decoration: underline 7px black;
    margin-left: 5cm;
    margin-top: 7cm;
    position: absolute;
}